@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.backgroundBox {
  background-image:
    url("../../public/assets/noise.png"),
    linear-gradient(rgba(39, 38, 38, 0.8), rgba(0, 0, 0, 0.9)),
    url("../../public/assets/backGrid.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center, center;
}

.PlayGame{
  background: linear-gradient(95.46deg, #FBDE7D -11.05%, #69E3F9 53.97%, #9191FF 123.02%);
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 3px 0px 0px #FFFFFF2B inset;
}

.button{
  border: 20px solid transparent;
  border-image: url('../../public/assets/border.png') 30;
  width: 130px;
}
.area {

  position: relative;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.move-rect {


  position: relative;
}
